.cat {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  border-radius: 10px;
  background-color: #ffffff;
  z-index: 1;
}

.cat__photo {
  width: 400px;
  height: 400px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.cat__user-instagram {
  position: absolute;
  margin: 0;
  left: 20px;
  top: 18px;
  transition: opacity 0.5s linear 0.1s;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #ffffff;
  text-decoration: none;
  padding: 0;
  z-index: 1;
}

.cat__user-instagram:hover {
  opacity: 0.6;
}

.cat__delete {
  /* display: none; */
  position: absolute;
  width: 18px;
  height: 19px;
  margin: 0;
  left: 360px;
  top: 18px;
  transition: opacity 0.5s linear 0.1s;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  background-image: url(../../images/Delete.svg);
  z-index: 1;
}

.cat__delete:hover {
  opacity: 0.6;
}

.cat__description {
  padding-top: 5px;
  padding-bottom: 5px;
}

.cat__like {
  width: 22px;
  height: 19px;
  margin: 0;
  margin-top: 6px;
  transition: opacity 0.5s linear 0.1s;
  cursor: pointer;
  border: none;
  padding: 0;
  background: url(../../images/Like.svg);
}

.cat__like:hover {
  opacity: 0.5;
}

@media screen and (max-width: 920px) {
  .cat {
    max-width: 282px;
  }

  .cat__photo {
    width: 282px;
    height: 282px;
  }
  .cat__delete {
    left: 249px;
  }

  .cat__user-instagram {
    left: 15px;
  }
}

@media screen and (max-width: 650px) {
  .cat {
    margin: 0 auto;
  }
}
